#header{
  position: fixed;
  width: 100%;
  transition: linear .5s;
  //background: rgba(0, 0, 0, 0.80);
  z-index: 99999;
  .header{
    display: flex;
    align-items: center;
    height: 90px;

  }
}

