#header{
  position: fixed;
  width: 100%;
  transition: linear .5s;
  background: rgba(112, 112, 112, 0.42);
  backdrop-filter: blur(5px);
  z-index: 99999;
  .header{
    display: flex;
    align-items: center;
    height: 90px;

  }
}


