#about {
  background: #F8F4F1;

  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 70px;

  .about {
    &--text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h1 {
        width: 544px;
        color: #1E1E2F;
        font-size: 38px;
        font-weight: 700;
      }

      p{
        width: 546px;
        color: #000;
        font-size: 19px;
        font-weight: 500;
      }
    }
    &--video {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin-top: 130px;

      &__text {
        .icon{
          display: flex;
          align-items: center;
          width: 100%;
          .left{
            display: flex;
            flex-direction: column;
            align-items: center;
          }
           .info{
             display: flex;
             flex-direction: column;
             gap: 60px;
          h2{
            color: #1E1E2F;
            font-size: 20px;
            font-weight: 600;
          }
             p{
               width: 200px;
               color: #52515D;
               font-size: 17px;
               font-weight: 400;
             }

          }
        }

        .border_left {
          width: 1px;
          height: 51px;
          border: 1px dashed #52515D;
          margin: 12px 0;

        }
      }

      &__video_block {
        position: relative;
        display: flex;
        width: 65%;
        justify-content: center;
        align-items: flex-start;
        video {
          display: flex;
          width: 90%;
          border-radius: 10px;
        }
        &--blue {
          position: absolute;
          top: -55px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 50px;
          background: #5E59EE;
          border-radius: 10px;

          &__card {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;

            &--title {
              color: #F8F4F1;
              font-size: 65px;
              font-weight: 700;
              margin-right: 10px;
            }

            &--text {
              p{
                color: #F8F4F1;
                font-size: 18px;
                font-weight: 500;
              }
            }
          }

          .card:nth-child(1) {
            border-right: #F8F4F1 1px solid;
            padding-right: 10px;
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .about{
    &--text{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &--video{
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  #about .about--video__video_block--blue__card--title {
    font-size: 39px !important;
  }
}
@media (max-width: 768px) {
  .about{

    &--video{
      margin: 0 auto;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      .video_block {
        position: relative;
        .blue{
          margin-left: 20px;
          .card {
            .title {
              color: #F8F4F1;
              font-size: 25px;
              font-weight: 400;
            }
            .text {
              color: #F8F4F1;
              font-size: 16px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .about{
    &--video {
      &__video_block {
        position: relative;
        video {
          width: 100%;
          border-radius: 10px;
        }
        &--blue {
          position: absolute;
          top: -35px;
          right: -155px;
          padding: 10px 20px;
          &__card {
            &--title {
              color: #F8F4F1;
              font-size: 35px;
              font-weight: 400;
            }
            &--text {
              p{
                color: #F8F4F1;
                font-size: 18px;
                font-weight: 300;
              }
            }
          }
          .card:nth-child(1) {
            border-right: #F8F4F1 1px solid;
            padding-right: 10px;
            padding-left: 0;
          }
        }
      }
    }

  }
  #about .about--video__video_block--blue__card--title {
    font-size: 29px !important;
  }
  #about .about--video__video_block--blue {
    top: -55px;
    right: -40px;
    padding: 17px 26px;

  }
}
@media (max-width: 451px) {
  #about .about--video__video_block--blue__card--title {
    font-size: 20px !important;
  }
  #about .about--video__video_block--blue {
    top: -55px;
    right: -80px!important;
    padding: 17px 30px;

  }
  #about .about--text h1 {
    width: 400px;
    font-size: 33px;
  }
  #about .about--text p {
    width: 400px;
    font-size: 17px;
  }
}
@media (max-width: 400px) {
  #about .about--video__video_block--blue__card--title {
    font-size: 18px !important;
  }
  #about .about--video__video_block--blue {
    top: -55px;
    right: -80px;
    padding: 17px 30px;

  }
  #about .about--text h1 {
    width: 360px;
    font-size: 33px;
  }
  #about .about--text p {
    width: 360px;
    font-size: 17px;
  }
}
@media (max-width: 376px) {
  #about .about--video__video_block--blue__card--title {
    font-size: 20px !important;
  }
  #about .about--video__video_block--blue {
    top: -55px;
    right: -85px;
    padding: 14px 20px;

  }
  #about .about--text h1 {
    width: 360px;
    font-size: 33px;
  }
  #about .about--text p {
    width: 360px;
    font-size: 17px;
  }
}


