#student {
  .student {
    &--h1{
      padding-top:240px;
      color: #1E1E2F;
      font-size: 38px;
      font-weight: 700;
      text-align: center;
    }
    &__card{
      margin-top: 58px;
      display: flex;
      gap: 24px;
      &--block{
        position: relative;
        &__text{
          display: flex;
          justify-content: space-around;
          &--cardBlock{
            position: absolute;
            bottom: 50px;
            left: 20px;
            h1{
              color: #F8F4F1;
              font-size: 30px;
              font-weight: 700;
            }
            p{
              width: 369px;
              height: 72px;
              color: #FEFEFE;
              font-size: 15px;
              font-weight: 500;
            }
          }
          &--cardBlock2{
            position: absolute;
            bottom: 50px;
            left: 580px;
            a{
              display: flex;
              gap: 10px;
              color: #F8F4F1;
              font-size: 12.17px;
              font-weight: 600;
              text-decoration: none;
            }
          }
          &--cardBlock3{
            position: absolute;
            bottom: 50px;
            left: 450px;
            a{
              display: flex;
              gap: 10px;
              color: #F8F4F1;
              font-size: 12.17px;
              font-weight: 600;
              text-decoration: none;
            }
          }

        }
      }
    }
    &__cards{
      display: flex;
      gap: 23px;
      &--blocks{
        position: relative;
        &__texts{
          display: flex;
          &--lux{
            position: absolute;
            bottom: 60px;
            left: 20px;
            h1{
              color: #F8F4F1;
              font-size: 30px;
              font-weight: 700;
            }
            p{
              width: 287px;
              height: 72px;
              color: #FEFEFE;
              font-size: 15px;
              font-weight: 500;
            }
          }
          &--look{
            position: absolute;
            bottom: 40px;
            left: 270px;
            a{
              display: flex;
              gap: 10px;
              color: #F8F4F1;
              font-size: 12.17px;
              font-weight: 600;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 992px) {
  .student{
    &__card{
      display: flex;
      flex-wrap: wrap;
    }
    &__cards{
      display: flex;
      flex-wrap: wrap;
    }
  }
}


@media (max-width: 768px) {
  .student{
    &__card{
      &--block{
        position: relative;
        img{
          width: 90%;
        }
        &__text{
          display: flex;
          &--cardBlock2{
            position: absolute;
            bottom: 50px;
            left: 400px!important;
          }
          &--cardBlock3{
            position: absolute;
            bottom: 50px;
            left: 350px!important;
          }
        }

      }

    }
    &__cards{
      &--blocks{
        img{
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .student{
    &__card{
      &--block{
        position: relative;
        img{
          width: 90%;
        }
        &__text{
          display: flex;
          &--cardBlock2{
            position: absolute;
            bottom: 20px !important;
            left: 330px!important;
          }
          &--cardBlock3{
            position: absolute;
            bottom: 25px !important;
            left: 319px!important;
          }
        }
      }
    }
  }

}

@media (max-width: 450px) {
  .student{
    &__card{
      &--block{
        position: relative;
        img{
          width: 90%;
        }
        &__text{
          display: flex;
          &--cardBlock{
            p{
              width: 240px !important;
            }
          }
          &--cardBlock2{
            position: absolute;
            top: 130px;
            left: 250px!important;
          }
          &--cardBlock3{
            position: absolute;
            top: 160px;
            left: 240px!important;
          }
        }

      }
    }
  }

}
@media (max-width: 425px) {
  .student{
    &__card{
      &--block{
        position: relative;
        img{
          width: 90%;
        }
        &__text{
          display: flex;
          &--cardBlock{
            h1{
              padding-top: 10px !important;
              font-size: 20px !important;
            }
            p{
              font-size: 14px !important;
            }
          }
          &--cardBlock2{
            position: absolute;
            top: 120px;
            left: 190px!important;
          }
          &--cardBlock3{
            position: absolute;
            top: 160px;
            left: 160px!important;
          }
        }

      }
    }
    &__cards{
      &--blocks{
        &__texts{
          &--look{
            position: absolute;
            top: 200px;
            left: 190px!important;
          }
        }
      }
    }

  }

}
@media (max-width: 376px) {
  .student{
    &__card{
      &--block{
        position: relative;
        img{
          width: 90%;
        }
        &__text{
          display: flex;
          &--cardBlock{
            position: relative;
            h1{
              position: absolute;
              font-size: 16px !important;
            }
            p{
              padding-top: 30px;
              font-size: 11px !important;
            }
          }
          &--cardBlock2{
            position: absolute;
            top: 90px;
            left: 190px!important;
          }
          &--cardBlock3{
            position: absolute;
            top: 140px;
            left: 160px!important;
          }
        }

      }
    }
    &__cards{
      &--blocks{
        &__texts{
          &--lux{
            p{
              font-size: 11px !important;
              width: 170px !important;
            }
          }
          &--look{
            position: absolute;
            top: 180px;
            left: 190px!important;
          }
        }
      }
    }

  }

}



//1440
//1200
//1024
//992
//768
//576
//450
//425
//400
//375
//400
//375
//450
//425


