#review{
  padding: 60px;
  h1{
    color: #1E1E2F;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
  }
  .review{
    &--group{
      p{
        width: 257px;
        height: 120px;
        color: #4B4B59;
        font-size: 18px;
        font-weight: 400;

      }
      &__children{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 25px;
        div{
          h5{
            color: #1E1E2F;
            font-size: 15px;
            font-weight: 600;
          }
          h4{
            color: #455CE9;
            font-size: 15px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .review {
    h1{
      font-size: 27px!important;
      width: 300px!important;
    }
    &--group {
      p {
        width: 270px !important;

        font-size: 17px !important;
      }
    }
  }
  #student .student--h1 {
    padding-top: 70px;
    color: #1E1E2F;
    font-size: 38px;
    font-weight: 700;
    text-align: center;
  }

  #student .student--h1 {
    padding-top: 70px;
    color: #1E1E2F;
    font-size: 30px;
  }
}